@model Product

<div class="product-item">
    <h2>@Model.Brand @Model.Model<h2>
    <img src=@Model.Img alt="Просмотр" class="ProductImg">
    <p>@Model.Price.ToString("c")</p>
    <a asp-controller="Cart" asp-action="addToCart" asp-route-id="@Model.Id" class = "button">Добавить в корзину</a>
</div>