
<div class="section">
    <div class="sidebar">
        <a class="sidebar-item" href="/Home/List/"><h1>Все товары</h1></a>
        <a class="sidebar-item" href="/Home/List/Computers"><h1>Компьютеры</h1></a>
        <a class="sidebar-item" href="/Home/List/NoteBooks"><h1>Ноутбуки</h1></a>
        <a class="sidebar-item" href="/Home/List/Servers"><h1>Серверы</h1></a>
    </div>
    <div class="contents">
        <h1>@Model.currType</h1>
            <div class="grid">
            @{
                foreach(Product product in Model.allProducts){
                @Html.Partial("AllProducts", product)
                }
            }
            </div>
    </div>
</div>