@model CartViewModel

<div>
    @foreach (var el in Model.Cart.ListCartItems) {
        <div>
            <b>Товар: </b> @el.Product.Model<bt />
            <b>Цена: </b> @el.Product.Price.ToString("c")
        </div>
    }
    <hr />
    <a asp-controller="Order" asp-action="Checkout">Оплатить</a>
</div>