body{ 
    font-family: 'Inter', sans-serif; 
    font-size: 14px; 
    font-weight: 400; 
    line-height: 18px; 
    color: #0a0a0a; 
} 
 
a{ 
    text-decoration: none; 
    color: inherit; 
} 
 
ul{ 
    margin: 0; 
    padding: 0; 
    text-align: center; 
} 
 
li{ 
    list-style-type: none; 
    font-weight: 700; 
    font-size: 1.6rem; 
} 
 
.header{ 
    background-color: #459090; 
    height: 130px; 
    color: white; 
    border-bottom: 10px solid #D6C63A; 
} 
 
.nav{ 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin-right: 44px; 
} 
 
.logo{ 
    margin: 25px 44px; 
} 
 
.menu{ 
    display: flex; 
    margin: auto; 
} 
 
.menu-item{ 
    padding-right: 30px; 
} 
 
.section{ 
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
} 
 
.sidebar{ 
    width: 360px; 
    background-color: #D9D9D9; 
    margin-right: 180px; 
    padding: 20px; 
    box-sizing: border-box; 
    display: block; 
} 
 
@media (max-width: 768px) { 
    .sidebar { 
        display: none; 
    } 
} 
 
.contents{ 
    flex: 1; 
    box-sizing: border-box;
    padding: 20px;
} 

.grid{
    display: grid;
    flex: 1;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: 350px 350px 40px;
    gap: 80px;
}
 
.product-item{ 
    /* margin-bottom: 55px;  */
    /* margin-right: 80px;  */
    /* height: 350px;  */
    /* width: 350px;  */
    border: 1px solid #0a0a0a; 
    border-radius: 10px; 
    text-align: center; 
    box-sizing: border-box; 
} 
 
@media (max-width: 768px) { 
    .product-item { 
       width: 100%;
       margin-right: 0px;
    } 
}

.ProductImg{
    width: 270px;
    height: 240px;
    object-fit: contain;
}
 
footer{ 
    background-color: #285858; 
    color: white; 
    height: 70px; 
    line-height: 70px; 
    text-align: center; 
}