<div class="section">
    <div class="sidebar">
        <h1>Все товары</h1>
    </div>
    <div class="contents">
        <h3>@Model.currType</h3>
            <div class="grid">
            @{
                foreach(Product product in Model.allProducts){
                @Html.Partial("AllProducts", product)
                }
            }
            </div>
    </div>
</div>