<div class="section">
    <div class="sidebar">
        <h1>Все товары</h1>
    </div>
    <div class="contents">
        <h3>@Model.currType</h3>
            <div class="grid">
            @{
                foreach(var product in Model.allProducts) {
                    <div class="product-item">
                        <h2>@product.Brand @product.Model<h2>
                            <img src=@product.Img alt="Просмотр" class="ProductImg">
                        <p>@product.Price.ToString("c")</p>
                    </div>
                }
            }
            </div>
    </div>
</div>